html, body, .container-table {
    height: 100%;
}


.navbar-custom {
    /*background-color: #E8E8E8;*/
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.browse .textContainer { 
    height: 430px; 
    line-height: 400px;
}

.textContainer h2 {
    vertical-align: middle;
    text-align: middle;
    display: inline-block;
    position: absolute;
    background-color: #93BDDD;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.button {
	text-align:center;
	margin: auto;
}

.drop