.jumbotron {
    text-align: center;
}

#content {
    text-align: center;
    margin: 0 auto;
    width: 150px;
}

body {
	width: auto;
}

#tableWrapper {
	position: relative;
}

#songChoice {
	height:150px;
  	overflow:auto;  
  	margin-top:20px;
  	border-collapse: separate;
}

#tableWrapper thead th .text {
	position: absolute;
}

#blackbox {
	text-align: center;
	margin: 0 auto;
	width: 600px;
}

#visualizer {

}